body {
    background-color:#E76F51;
    font-family: Arial, sans-serif;
}

/* ===== Header ===== */
header {
    background-color:#2A9D8F;
    background-clip:border-box;
    border-color:#264653;
} 
 
h1 {
    color: #264653;
    border-bottom: 4px solid #264653;
    font-family: 'Secular One', sans-serif;
}

/* ===== Main ===== */
main, header, footer {
    margin: 0 auto;
    width: 80vw;
    padding: 3rem;
    border-style: solid;
    border-width: 6px;
}

main {
    background-color:#E2C374;
    border-color: #B02300;
    border-top-style: none;
    border-bottom-style: none;
}

/* ===== Images ===== */
main > img {
    margin-left: 50px;
    padding: 10px;
    background-color: #F4A261;
    background-clip:padding-box;
    border: 7px solid #C02300;
}.side {
    float: right;
    margin: 0 12px;
}

/* ===== Content ===== */
h2 {
    color: #264653;
    margin-left: 50px;
    font-family: 'Secular One', sans-serif;
}

p, ul {
    margin-left: 100px;
}

blockquote {
    background-color: #F4A261;
    padding: 1rem;
}

:link {
    color: #264653;
}

:visited {
    color:#2A9D8F;
}

hr {
    border-top:2px solid #E76F51;
    border-bottom: 2px solid #E76F51;
}


/* ===== Footer ===== */
footer {
    background-color:#2A9D8F;
    border-color:#264653;
    border-top: 4px solid #264653;
}

footer :visited{
    color:#206C63;
}

footer :link {
    color:#264653;
}